body {background-color:rgb(224, 194, 169);font-family:'Times New Roman', Times, serif;color:black;}
.container{background-color: royalblue;font-family: 'Times New Roman', Times, serif;}
.second{background-color: seagreen;text-align:center;font-family: 'Times New Roman', Times, serif;}
.forth{background-color: tomato;font-family: 'Times New Roman', Times, serif;}
.index{background-color:seagreen;(0, 128, 0, 0.637);font-family: 'Times New Roman', Times, serif;}
